.priority{
    color: $color-white;
    @extend %stacking-context;

    &::before,
    &::after
    {
        @extend %common-pseudo;
        width: 100%;
        height: toRem(50);
        background-color: $color-primary;
        transform: translateY(calc(85% * var(--_direction, 1))) skewY(-1deg);
    }

    &::before{
        --_direction: -1;
        top: 0;
    }

    &::after{
        bottom: 0;
    }

    &__bg{
        opacity: 0.5;
        @extend %full-width;
        z-index: -1;
    }

    &__title{
        font-size: toRem(50);
        @include min-xxl{
            font-size: toRem(70);
        }
        font-weight: 400;
        font-family: $font-secondary;
        line-height: 1;
    }
}