// SCSS Variable's

$font-primary: 'Proxima Nova', sans-serif;
$font-section: 'Bebas Neue', sans-serif;
$font-primary: 'Montserrat', sans-serif;


$color-primary:#fc0706;
$color-primary-rgb: 252, 7, 6;
$color-primary--dark:#6d0303;

$color-black:#000000;
$color-white:#ffffff;