/* Service Card Style */
.service__card{
    $_radius: 8px;
    @extend %card-gap;
    display: flex;
    flex-direction: column;

    &__head{
        position: relative;
        padding-top: 49%;
        border-top-left-radius: $_radius;
        border-top-right-radius: $_radius;
        overflow: hidden;
    }

    &__image{
        @extend %transition;
        @extend %full-width;
    }

    &:hover{
        .service__card__image{
            transform: rotate(0.5deg) scale(1.1);
        }
    }

    &__body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: toRem(30) toRem(36);
        border: 1px solid $color-gray-thin;
        border-bottom-left-radius: $_radius;
        border-bottom-right-radius: $_radius;
    }

    &__title{
        color: $color-gray;
        font-size: toRem(20);
        line-height: 1.6;
        font-family: $font-primary-bold;
        font-weight: 700;
        @extend %uppercase;
    }

    &__text{
        color: $color-gray-light;
        font-size: toRem(18);
        font-family: $font-primary-light;
        font-weight: 300;
        margin-top: auto;
    }
}

/* Category Card Style */
.category__card{
    text-align: center;
    color: $color-white;
    @extend %card-gap;

    &__image{
        @include max-xl{
            max-height: 80px;
        }
        
        @extend %block-center;
    }

    &__title{
        font-size: toRem(20);
        font-weight: 700;
        font-family: $font-primary-bold;
        line-height: 1.3;
        margin-top: toRem(30);
        @extend %uppercase;
    }

    &__text{
        @include min-xxl{
            font-size: toRem(18);
        }
        font-weight: 300;
        font-family: $font-primary-light;
        line-height: 1.4;
        margin-bottom: 0;
    }
}

/* Priority Card Style */
.priority__card{
    margin-top: toRem(25);
    margin-bottom: toRem(25);

    &__text,
    &__link
    {
        font-weight: 700;
        font-family: $font-primary-bold;
    }
    &__text{
        font-size: toRem(20);
        @include min-xxl{
            font-size: toRem(24);
        }
        margin-bottom: 0;
        line-height: 1;
        @extend %uppercase;
    }
    &__link{
        font-size: toRem(35);
        @include min-xxl{
            font-size: toRem(50);
        }

        &:hover,
        &:focus-visible
        {
            text-decoration: $color-primary underline;
        }
    }
}

/* Testimonial Card Style */
.testimonial__card{
    position: relative;
    background-color: $color-white;
    @extend %card-gap;

    &-wrapper{
        padding-top: toRem(60);
    }
    
    &__body{
        padding: toRem(60) toRem(20) toRem(40);
        @include min-xxl{
            padding: toRem(70) toRem(40) toRem(60);
        }
    }

    &__name{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: toRem(30);
        font-weight: 700;
        font-family: $font-primary-bold;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: toRem(95);
        height: toRem(95);
        border-radius: 50rem;
        border: toRem(6) solid $color-white;
        @include min-xxl{
            border-width: toRem(10);
        }
        @extend %uppercase;
    }

    &__text{
        position: relative;
        color: $color-gray;
        font-size: toRem(18);
        @include min-xxl{
            font-size: toRem(24);
        }
        font-weight: 300;
        font-family: $font-primary-light;
        font-style: italic;

        &::before{
            content: '“';
            position: absolute;
            right: 0;
            font-size: toRem(150);
            @include min-xxl{
                font-size: toRem(200);
            }
            font-weight: 700;
            font-family: Arial;
            line-height: 1;
            color: rgba($color-gray, $alpha: 0.1);
            transform: translateY(-35%);
            user-select: none;
            pointer-events: none;
            font-style: normal;
        }

    }

    &__icons{
        color: #ffbf14;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: toRem(15);
    }

    &__footer{
        @extend %stacking-context;
        background-color: $color-black;
        padding: toRem(30) toRem(10);

        &::before,
        &::after
        {
            @extend %common-pseudo;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            transform-origin: bottom left;
        }
        
        &::before{
            transform: skewY(-3.6deg);
            background-color: $color-primary;
            height: toRem(40);
        }
        
        &::after{
            transform: skewY(-2deg);
            background-color: $color-black;
            height: toRem(50);
        }
    }

    &__title{
        font-size: toRem(20);
        @include min-xxl{
            font-size: toRem(24);
        }
        font-weight: 700;
        font-family: $font-primary-bold;
    }
}

/* Feature Card Style */
.feature__card{
    display: flex;
    align-items: center;
    @include max-sm{
        flex-direction: column;
        text-align: center;
    }
    gap: toRem(40);
    padding-top: $gutter;
    @extend %card-gap;
    
    &__icon{
        @extend %stacking-context;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: toRem(105);
        height: toRem(105);
        
        &::before{
            @extend %common-pseudo;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: $color-primary;
            transform: skewX(-14deg);
            transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }

        &__image{
            height: auto;
        }
    }

    &:hover{
        .feature__card__icon::before{
            transform: skewX(14deg);
        }
    }

    &__title{
        color: $color-black;
        @include min-xxl{
            font-size: toRem(26);
        }
        font-weight: 700;
        font-family: $font-primary-bold;
    }

    &__text{
        color: $color-gray;
        @include min-xxl{
            font-size: toRem(18);
        }
        font-weight: 300;
        font-family: $font-primary-light;
        margin-bottom: 0;
    }
}

/* Team Card Style */
.team__card{
    @extend %card-gap;

    &__figure{
        position: relative;
        padding-top: 131%;
        background-color: $color-black;
        overflow: hidden;

        &__image{
            transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
            @extend %full-width;
        }
    }

    &__body{
        position: relative;
        padding: toRem(20) toRem(5);
        border-bottom: 7px solid $color-primary;
        margin-top: toRem(-60);
        margin-left: toRem(15);
        margin-right: toRem(15);
        @include min-xxl{
            padding: toRem(35) toRem(10) toRem(25);
            margin-left: toRem(22);
            margin-right: toRem(22);
        }
        box-shadow: 0 0 toRem(20) rgba($color-black, $alpha: 0.1);
    }

    &__title{
        color: $color-gray;
        font-size: toRem(22);
        @include min-xxl{
            font-size: toRem(30);
        }
        font-weight: 700;
        font-family: $font-primary-bold;
    }

    &__text{
        color: $color-gray;
        font-size: toRem(16);
        @include min-xxl{
            font-size: toRem(20);
        }
        font-weight: 400;
        font-family: $font-primary-regular;
    }

    &:hover,
    &:focus-visible
    {
        .team__card__figure__image{
            transform: scale(1.2);
            transform-origin: top;
        }
    }
}

/* Gallery Card Style */
.gallery__card{
    @extend %card-gap;
}

/* Footer Block Card Style */
.footer__block__card{
    &__title{
        font-size: toRem(20);
        font-weight: 700;
        font-family: $font-primary-bold;
        margin-top: toRem(24);
        margin-bottom: toRem(24);
    }

    &__list{
        &__item{
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: toRem(18);
    
            &__icon{
                flex-shrink: 0;
                font-size: toRem(20);
                color: $color-primary;
            }

            &__text{
                font-weight: 300;
                font-family: $font-primary-light;
            }
        }
        a{
            &:hover,
            &:focus-visible
            {
                text-decoration: underline;
            }
        }
    }
}