.form{
    &-control,
    &-select
    {
        color: #a3a3a3;

        @include min-xxl{
            font-size: toRem(18);
            padding: toRem(22) toRem(20);
        }
        @include max-xl{
            padding-top: toRem(18);
            padding-bottom: toRem(18);
        }

        &::placeholder{
            color: currentColor;
        }

        &:focus{
            color: $color-black;
            box-shadow: none;
        }

        option{
            font-size: toRem(14);
        }
    }

    &-control.has-icon{
        background-image: url('../images/icons/input-icon.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 15px) center;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

select{
    cursor: pointer;
}