/* Header Section Style */
.header{
	.container-fluid{
		max-width: 1740px;
	}

	&__top{
		@include max-lg{
			display: none;
		}
		&__wrapper{
			background-image: linear-gradient(to right, $color-white 50%, $color-black 50%);
		}
		&__card{
			display: flex;
			align-items: center;
			font-size: toRem(14);
			padding: toRem(10) toRem(15);
			@include min-xxl{
				font-size: toRem(18);
			}

			&--primary{
				padding-right: toRem(35);

				@extend %stacking-context;
				
				@include min-xl{
					&::before{
						content: '';
						position: absolute;
						z-index: -1;
						inset: 0;
						background-color: $color-primary;
						transform: skewX(25deg);
						transform-origin: bottom right;
					}
				}

				.header__top__card__link:hover,
				.header__top__card__link:focus-visible
				{
					color: $color-black;
				}
			}

			&--dark{
				box-shadow: toRem(-70) 0 0 $color-black;

				.header__top__card__link:hover,
				.header__top__card__link:focus-visible
				{
					color: $color-primary;
				}
			}

			&__text{
				font-size: inherit;
			}

			&__link{
				@extend %transition;
			}
		}
	}

	.navbar{
		@include min-xxl{
			--bs-navbar-padding-y: #{toRem(15)};
		}

		&-brand__image{
			max-height: toRem(65);
			@extend %transition;

			@media (min-width: 1600px) {
				transform: scale(1.8);
				transform-origin: bottom left;
			}
		}

		&-toggler{
			--bs-navbar-toggler-padding-x: 5px;
			--bs-navbar-toggler-padding-y: 5px;
			--bs-navbar-toggler-border-radius: 0;
			--bs-navbar-toggler-font-size: #{toRem(20)};
			width: toRem(40);
			height: toRem(40);
			color: $color-gray;
			@extend %transition;
		}

		&-nav{
			--bs-nav-link-font-weight: 400;
			--bs-nav-link-color: #{$color-gray};
			--bs-nav-link-hover-color: #{$color-primary};
		}

		&-nav,
		.nav-link
		{
			@include min-xl{
				height: 100%;
			}
		}

		.nav-link{
			position: relative;
			font-size: toRem(17);
			@include min-xxl{
				font-size: toRem(20);
			}
			font-weight: 400;
			font-family: $font-primary-regular;
			padding: toRem(10) toRem(20);
			
			&::before{
				content: attr(data-text);
				position: absolute;
				font-weight: 700;
				font-family: $font-primary-bold;
				opacity: 0;
				@extend %transition;
			}

			&.active{
				color: transparent;

				&::before{
					color: $color-gray;
					opacity: 1;
				}
			}

			&:focus-visible{
				color: $color-primary;
				box-shadow: none;
			}
		}
	}

	&.fixed{
		box-shadow: 0 3px 45px rgba(0,0,0,0.15);
		
		.navbar-brand__image{
			transform: scale(1);
		}
	}

	.offcanvas__close{
		line-height: 0;
		padding: toRem(12) toRem(14);
	}
}

.dropdown{
	&-toggle{
		&::after{
			color: $color-primary;
			vertical-align: 4px;
		}

		@include min-xl{
			&:hover,
			&:focus-visible,
			&.show
			{
				+ .dropdown-menu{
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&-menu{
		--bs-dropdown-border-width: 0;
		--bs-dropdown-border-radius: 0;
		--bs-dropdown-link-active-bg: #{$color-primary};
		--bs-dropdown-bg: #{$color-black};

		box-shadow: 0 2px 7px rgba(0,0,0,.15);

		@extend %transition;

		@include min-xl{
			--bs-dropdown-spacer: 0;
			display: unset;
			transform: translateY(25%);
			opacity: 0;
			visibility: hidden;

			&::before{
				content: '';
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				height: toRem(10);
				transform: translateY(-100%);
			}

			&:hover,
			&:focus-visible
			{
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&:focus-within .dropdown-menu{
		@include min-xl{
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}

	&-item{
		color: $color-white;
		font-size: toRem(16);
		@include min-xxl{
			font-size: toRem(18);
		}
	}
}